:root{
    --hbg: rgba(6,250,255,1);
    --nbg: rgba(16,132,116,1);
    --bbg: rgba(221,222,223,1);
    --hov: rgba(211, 206, 229, 0.2);

    font-family: 'Agile';
}

@font-face {
    font-family: Agile;
    src: url(font/AgileSans-Regular.otf);
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
 }

body, html {    
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;

    

    display: flex;
    justify-content: center;
    width: 80%;
    padding: 0;
}


body{
    background-color: rgb(238, 234, 234);
}

.bhidden{
    overflow: hidden;
}

.Kopf{
    height: 24.9vh;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.Kopf1{
    width: 50%;
    height: 25vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-basis: auto;
}

.Kopf2{
    width: 50%;
    height: 25vh;
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.panderzv2{
    border-radius: 100%;
    scale: 30%;
    border: 20px solid black;

    box-shadow: -10px 5px 20px rgba(0,0,0, 1);
}

#mod{
    padding: 0;
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    margin: 0;
    text-align: left;
    font-weight: bold;

    text-shadow: -10px 2px 15px rgba(100,100,100,.5);

}

#web{
    width: fit-content;
    height: fit-content;
    padding: 0;
    font-size: 60px;
    font-weight: bold;
    margin: 0;

    text-shadow: -10px 2px 15px rgba(100,100,100,.5);
}

.navbar {
    width: 100%;
    background-color: rgba(17,17,17, 0.8);
    overflow: auto;
    text-align: center;
    box-shadow: -10px 5px 20px rgba(0,0,0, 1);
}

.navbar a {
    float: left;
    padding: 12px;
    margin-left: 2.3rem;
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 15%;
    text-align: center;
}
  

.navbar a:hover {
  background-color: #000;
  border-radius: 5px
}
  
.navbar a.active {
    background-color: #000;
}

.content{
    /* width: 80%; */
    height: fit-content;

    margin-top: 1%;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: -10px 5px 20px rgba(0,0,0, 1);
    border-radius: 5px;
    background-color: transparent;
    backdrop-filter: blur(50px);

}

/*--------Über Mich CSS--------*/
.uwrapper{
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 2rem;
    grid-template-rows: repeat(8, 100px);
    grid-template-columns: repeat(12, 1fr);
    box-shadow: -10px 5px 20px rgba(0,0,0, 1);
    border-radius: 5px;
    background-color: transparent;
    backdrop-filter: blur(50px);
}

.willkommen-box{
    height: fit-content;
    width: fit-content;
    font-size: 15px;

    grid-row: 1 / 3;
    grid-column: 2 / 7;
}

.uebermich{
    height: fit-content;
    width: fit-content;
    font-size: 15px;

    grid-row: 3 / 8;
    grid-column: 5 / 12;
}

.panderz-grid{
    z-index: -1;
    width: fit-content;
    padding: 0; 
    grid-row: 4 / 7;
    grid-column: 2 / 7;
}

.panderzv1{
    border-radius: 100%;
    height: 40rem;
    width: auto;
}


.m {
    margin: 0;
    padding: 0;
}

.up {
    padding: 20px;
    
}

/*--------Karriere HTML--------*/

.bwrapper{
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    margin: 0;
}

.hberuf{
    display: flex;
    justify-content: left;
    padding: auto;
    margin: auto;
    color: black;
    font-size: 30px;

    text-shadow: -10px 2px 15px rgba(100,100,100,.5);

}


.kcontainer{
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 2rem;
    
    border-radius: 5px;
    box-shadow: -10px 5px 20px rgba(0,0,0, 1);

    height: fit-content;
    width: fit-content;
}

.kcontainer:nth-child(2){
    background-image: url(img/htmlcode.jpg);
}
.kcontainer:nth-child(3){
    background-image: url(img/glasfaser.jpg);
}
.kcontainer:nth-child(4){
    background-image: url(img/bpol.jpg);
}
.kcontainer:nth-child(5){
    background-image: url(img/druck.jpg);
}

.jahr{
    width: 33rem;
    height: fit-content;
    padding: 0.4%;
    margin: 3%;
    color: white;
    text-shadow: -10px 2px 15px black;
    background-color: rgba(17,17,17, 0.8);

    border: 1px solid rgba(25,25,25, 0.8);
    border-radius: 5px;
    box-shadow: -20px 10px 20px rgba(0,0,0, 1);
    backdrop-filter: blur(20px);
    

}

.beruftext{
    width: 40%;
    height: 30%;
    padding: 2rem;
    margin: 3%;
    
    text-align: justify;
    
    background-color: rgba(17,17,17, 0.8);
    border: 1px solid rgba(25,25,25, 0.8);
    border-radius: 5px;
    box-shadow: -20px 10px 20px rgba(0,0,0, 1);
    backdrop-filter: blur(20px);

    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
}

.c{
    text-align: center;
}

.t{
    position: relative;
    font-size: 35px;
    top: 0.4%;
}

.h{
    font-size: 40px;
}

.r{
    border: 1px solid red;

}

.boxdesign{
    background-color: rgba(17,17,17, 0.8);
    border: 1px solid rgba(25,25,25, 0.8);
    border-radius: 5px;
    box-shadow: -10px 5px 20px rgba(0,0,0, 1);
    backdrop-filter: blur(20px);

    color: white;
}


/*--------Portfolio CSS--------*/

.pmain{
    background-image: url(img/htmlcode.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 5px;
    box-shadow: -10px 5px 20px rgba(0,0,0, 1);
    backdrop-filter: blur(20px);

    height: 50%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-repeat: no-repeat;
    margin-top: 2.5%;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0;

    /*Hacky thing I will change*/
    border: .5px solid #111;
    
}
 .pwrapper{
    background-image: url(img/htmlcode.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 5px;
    box-shadow: -10px 5px 20px rgba(0,0,0, 1);
    backdrop-filter: blur(20px);

    margin: 2rem;
    
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 50px;

    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(12, 1fr);
 }

.pcs{
    color: white;
    font-size: 60px;
    padding: 0.5em 1em 0.5em 1em;
    height: 300px;
    width: 400px;

    background-color: rgba(17,17,17, 0.8);

    border: 1px solid rgba(25,25,25, 0.8);
    border-radius: 5px;
    box-shadow: -10px 5px 20px rgba(0,0,0, 1);
    backdrop-filter: blur(20px);

}

.pcs:nth-child(1){
    grid-row: 1 / 5;
    grid-column: 2 / 7;
}
.pcs:nth-child(2){
    grid-row: 1 / 5;
    grid-column: 7 / 12;
}
.pcs:nth-child(3){
    grid-row: 5 / 8;
    grid-column: 2 / 7;
}
.pcs:nth-child(4){
    grid-row: 5 / 8;
    grid-column: 7 / 12;
}




/*--------Tech CSS--------*/

.tmain {

    display: flex;
    flex-direction: column;
    margin-top: 2.5%;
    margin-bottom: 100px;

    width: 100%;
}

.tcontainer{
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 2rem;
    padding: 2rem;
    
    border-radius: 5px;
    box-shadow: -10px 5px 20px rgba(0,0,0, 1);
    
}

.tcontainer:nth-child(1){
    background-image: url("img/htmlcode.jpg");
    background-size: cover;

}
.tcontainer:nth-child(2){
    background-image: url("img/csscode.jpg");
    background-size: cover;

}
.tcontainer:nth-child(3){
    background-image: url("img/jscode.jpg");
    background-size: cover;

}
.tcontainer:nth-child(4){
    background-image: url("img/SQLcode.jpg");
    background-size: cover;

}
.tcontainer:nth-child(5){
    background-image: url("img/ccode.jpg");
    background-size: cover;

}

.boxs{
    min-width: 400px;
    min-height: 300px;
}

.tp{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.tpadd{
    
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    
}

.tmax{
    max-width: 600px;
}

/*--------Kontakt CSS--------*/
.koncontainer{
    background-image: url(img/mockmaps.png);
    background-size: cover;
    background-repeat: no-repeat;


    border-radius: 5px;
    box-shadow: -10px 5px 20px rgba(0,0,0, 1);
    backdrop-filter: blur(20px);

    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    margin: 2rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.konbox{
    width: 100%;
    height: 100%;


}

.adpad{
    padding: 30px;
    margin-left: 5%;
}

.mailpad{
    padding: 30px;
    position: relative;
    top: 80%;
    left: 50%;
}

.konfit{
    width: fit-content;
    height: auto;
}

td{
    color:white;
    font-size: 35px;
}

#topbtn {
    display: none;
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: -10px 5px 20px rgba(0,0,0, 1);
    border: 1px solid rgba(220,220,220,0.3)
  }
  
  #topbtn:hover {
    background-color: #ff5353;
}